<div class="container">

    <div class='row'>
        <div class='col-md-offset-1 col-md-10'>
            <div class="quote-carousel carousel slide" data-ride="carousel" id="quote-carousel-{{ __SELF__ }}">

                {% if __SELF__.property('random') != true %}
                    <ol class="carousel-indicators">
                    {% for row in __SELF__.quotes %}
                        <li data-target="#quote-carousel-{{ __SELF__ }}" data-slide-to="{{ loop.index0 }}" class="{{ (loop.first) ? 'active' : '' }}"></li>
                    {% endfor %}
                    </ol>
                {% endif %}

                <div class="carousel-inner">
                {% for row in __SELF__.quotes %}
                    <div class="item {{ (loop.first) ? 'active' : '' }}">
                        <blockquote>
                            <div class="row">
                            {% if row.image %}
                                <div class="col-sm-3 text-center">
                                    <img class="img-circle" src="{{ row.image|media }}" style="width: 100px;height:100px;">
                                </div>
                            {% endif %}
                                <div class="{{ (row.image == '') ? 'col-sm-offset-1 col-sm-10' : 'col-sm-9' }}">
                                    <p>{{ row.quote }}</p>
                                {% if row.author %}
                                    <small>
                                    {% if row.link %}<a href="{{ row.link }}" target="_blank">{% endif %}
                                        {{ row.author }}
                                    {% if row.link %}</a>{% endif %}
                                    </small>
                                {% endif %}
                                </div>
                            </div>
                        </blockquote>
                    </div>
                {% endfor %}
                </div>

                {% if __SELF__.property('random') != true %}
                    <a data-slide="prev" href="#quote-carousel-{{ __SELF__ }}" class="left  carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel-{{ __SELF__ }}" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if __SELF__.property('random') != true %}
    {% put scripts %}
        <script>
            $(document).ready(function() {
                $('#quote-carousel-{{ __SELF__ }}').carousel({
                    pause   : {{ (__SELF__.property('pause')) ? "'hover'" : "'null'" }},
                    interval: {{ __SELF__.property('interval') }},
                });
            });
        </script>
    {% endput %}
{% endif %}